<!-- prettier-ignore -->
{% extends "ui/base.html" %}

{% block title %}HR IRIS{% endblock %}

{% block content %}

<div class="card card-default">
  <div class="card-header">
    <h3 class="card-title">Monitoring Harian IRIS & Tampung</h3>
  </div>
  <form action="/result_iris" method="POST">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Cabang :</label>
          <select class="select2" multiple="multiple" data-placeholder="Pilih Cabang" style="width: 100%;" name="kdcab" id="kdcab" required>
            <option value="16,58,60">SELECT ALL</option>
            <option value="16">G050 - SAMARINDA</option>
            <option value="58">G241 - BULUNGAN</option>
            <option value="60">G242 - TARAKAN</option>
          </select>
        </div>
        <div class="form-group">
          <label>Tanggal :</label>
          <div class="input-group date" id="reservationdate" data-target-input="nearest">
              <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" name="tanggal" required/>
              <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>      
    </div>
  </div>
  </form>
</div>
    
<!-- <form action="/submit" method="POST">
  <label for="kdcab">Kode Cabang:</label>
  <input type="text" name="kdcab" id="kdcab" required />
  <br />
  <br />

  <label for="tanggal">Tanggal:</label>
  <input type="date" name="tanggal" id="tanggal" required />
  <br />
  <br />

  <button type="submit">Submit</button>
</form> -->

{% endblock %}
