<!-- prettier-ignore -->
{% extends "ui/base.html" %}

{% block title %}HR IRIS{% endblock %}

{% block content %}

<div class="card">
  <div class="card-header bg-primary">
    <h3 class="card-title">Monitoring Harian WRC</h3>
  </div>
  <div class="card-body">
    <form action="/hriris/" method="POST">
      <div class="row">
        <div class="col-md-1">
          <label for="kdcab">Cabang</label>
        </div>
        <div class="col-md-4">
          <select class="select2" multiple="multiple" data-placeholder="Pilih Cabang" style="width: 100%;" name="kdcab" id="kdcab" required>
            <option value="16,58,60,19">SELECT ALL</option>
            <option value="16">G050 - SAMARINDA</option>
            <option value="58">G241 - BULUNGAN</option>
            <option value="60">G242 - TARAKAN</option>
            <option value="19">G092 - BANJARMASIN</option>
          </select>
        </div>
        <div class="col-md-1">
          <label>Tanggal</label>
        </div>
        <div class="col-md-4">
          <div class="input-group date" id="reservationdate" data-target-input="nearest">
            <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" name="tanggal" required >
            <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- result -->
{% if rekap_data %}

<div class="card">
  <div class="card-header bg-teal">
    <h3 class="card-title">Summary IRIS</h3>
  </div>
  <div class="card-body p-0">
    <table class="table table-sm" >
      <thead>
        <tr>
          <th>Cab</th>
          <th>Total Toko</th>
          <th>Sudah Proses</th>
          <th>Belum Proses</th>
          <th>DT Proses</th>
          <th>DT Blm Proses</th>
        </tr>
      </thead>
      <tbody>
        {% for row in rekap_data %}
        <tr>
            <td>{{ row.kdcab }}</td>
            <td>{{ row.total_toko }}</td>
            <td><span class="badge bg-success">{{ row.sudah }}</span></td>
            <td><span class="badge {% if row.belum == '0' %}bg-success{% else %}bg-danger{% endif %}">{{ row.belum }}</span></td>
            <td><span class="badge bg-success">{{ row.sudah_dt }}</span></td>
            <td><span class="badge {% if row.belum_dt == '0' %}bg-success{% else %}bg-danger{% endif %}">{{ row.belum_dt }}</span></td>
            
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
</div>


<div class="card">
  <div class="card-header bg-teal">
    <h3 class="card-title">Absen Toko Belum Proses IRIS</h3>
  </div>
  <div class="card-body">
    <table id="absen_belum_iris" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Cab</th>
          <th>Toko</th>
          <th>Nama</th>
          <th>Keterangan</th>          
        </tr>
      </thead>
      <tbody>
        {% for row in list_data_belum %}
        <tr>
            <td>{{ row.kdcab }}</td>
            <td>{{ row.kdtk }}</td>
            <td>{{ row.nama }}</td>
            <td><span class="badge bg-danger">{{ row.proses }}</span></td>
            
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header bg-lightblue">
    <h3 class="card-title">Summary Tampung</h3>
  </div>
  <div class="card-body p-0">
    <table class="table table-sm" >
      <thead>
        <tr>
          <th>Cab</th>
          <th>Nama</th>
          <th>Total Toko</th>
          <th>Sudah Masuk</th>
          <th>Belum Masuk</th>         
        </tr>
      </thead>
      <tbody>
        {% for rw in rekap_cabang %}
        <tr>
            <td>{{ rw.kdcab }}</td>
            <td>{{ rw.nama_cabang }}</td>
            <td>{{ rw.total_toko }}</td>
            <td><span class="badge bg-success">{{ rw.sudah }}</span></td>
            <td><span class="badge {% if rw.belum == 0 %}bg-success{% else %}bg-danger{% endif %}">{{ rw.belum }}</span></td>          
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header bg-lightblue">
    <h3 class="card-title">Absen Toko Belum Proses Tampung</h3>
  </div>
  <div class="card-body">
    <table id="absen_belum_tampung" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Cab</th>
          <th>Toko</th>
          <th>Nama</th>
          <th>Toko 24 Jam</th>
          <th>File HR</th>
          <th>Listeners</th>         
        </tr>
      </thead>
      <tbody>
        {% for row in detail_belum %}
        <tr>
            <td>{{ row.kdcab }}</td>
            <td>{{ row.toko }}</td>
            <td>{{ row.nama }}</td>
            <td>{{ row.typetoko24 }}</td>
            <td>{{ row.dir_file_hr }}</td>
            <td><span class="badge bg-danger">{{ row.task_last_resp_msg }}</span></td>
                       
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endblock %}
