<!-- prettier-ignore -->
{% extends "ui/base.html" %}

{% block title %}HR WRC{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header bg-primary">
    <h3 class="card-title">Monitoring Harian WRC</h3>
  </div>
  <div class="card-body">
    <form action="/hrwrc/" method="POST">
      <div class="row">
        <div class="col-md-1">
          <label for="kdcab">Cabang</label>
        </div>
        <div class="col-md-4">
          <select class="select2" multiple="multiple" data-placeholder="Pilih Cabang" style="width: 100%;" name="kdcab" id="kdcab" required>
            <option value="16,58,60">SELECT ALL</option>
            <option value="16">G050 - SAMARINDA</option>
            <option value="58">G241 - BULUNGAN</option>
            <option value="60">G242 - TARAKAN</option>
            <option value="19">G092 - BANJARMASIN</option>
          </select>
        </div>
        <div class="col-md-1">
          <label>Tanggal</label>
        </div>
        <div class="col-md-4">
          <div class="input-group date" id="reservationdate" data-target-input="nearest">
            <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" name="tanggal" required >
            <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
    
{% endblock %}
