<!-- prettier-ignore -->
{% extends "ui/base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
<h1>Welcome to the Reporting and Data Analysis Baymax!</h1>
<p>An innovative platform designed to simplify, accelerate, and enhance your reporting and data analysis processes.</p>
<br>

<h2>Why Choose This Dashboard?</h2>
<ul>
    <li><b>Faster Processes:</b> Streamline reporting without compromising accuracy.</li>
    <li><b>User-Friendly Interface:</b> Built to ensure ease of use for everyone.</li>
    <li><b>Accurate Insights:</b> Delivering real-time data visualization to support better decision-making.</li>
</ul>
<br>
<h2>Key Features</h2>
<ul>
    <li><b>Real-time Reporting:</b> Access up-to-date reports to monitor business performance.</li>
    <li><b>Advanced Data Analysis:</b> Gain deep insights from your data with ease.</li>
    <li><b>Flexible Integration:</b> Supports multiple formats and data sources to suit your needs.</li>
</ul>
{% endblock %}
